includes:
  - phpstan.neon.dist
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::expects\(\)#'
  level: 6
  parallel:
    maximumNumberOfProcesses: 1
  checkGenericClassInNonGenericObjectType: false