includes:
  - phpstan.neon.dist
  - vendor/phpstan/phpstan-doctrine/extension.neon
  - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
  level: 6
  parallel:
    maximumNumberOfProcesses: 1
  checkGenericClassInNonGenericObjectType: false
#  doctrine:
#    ormRepositoryClass: MyApp\Doctrine\BetterEntityRepository
#    odmRepositoryClass: MyApp\Doctrine\BetterDocumentRepository